# Configuración del Servidor
PORT=8080
ENV=development

# Configuración de Base de Datos (PostgreSQL por defecto)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=orquestador
DB_SSLMODE=disable

# Claves de APIs Externas
# Regístrate en https://nvd.nist.gov/developers/request-an-api-key para obtener tu API Key y aumentar el límite de peticiones.
NVD_API_KEY=
NVD_BASE_URL=https://services.nvd.nist.gov/rest/json/cves/2.0
